<app-header></app-header>
<div class="container">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="container">
      <div class="row mb-5">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="card card-inverse card-info">
            <img class="card-img-top" src="https://picsum.photos/200/150/?random">
            <div class="card-block">
                <figure class="profile profile-inline">
                    <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                </figure>
                <h4 class="card-title">nombre usuario</h4>
                <div class="card-text">
                  detalle
                </div>
            </div>
            <div class="card-footer">
              <small>fecha creacion</small>
              <button class="btn btn-info float-right btn-sm">Estados</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>