<app-header></app-header>



<div class="container">
  <div class="container">
    <div class="row mb-5">

      <div class="col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let item of listAlretas">
        <div class="card card-inverse card-info">
          <img style="width: 400px !important; height: 300px !important;" class="card-img-top" src="{{item.imagen}}">
          <div class="card-block">
            <figure class="profile profile-inline">
              <img src="{{item.fotoUsuario}}" class="profile-avatar" alt="">
            </figure>
            <h4 class="card-title">{{item.nombreUsuario}}</h4>
            <div class="card-text">
              {{item.descripcion}}
            </div>
          </div>
          <div class="card-footer">
            <small>{{item.creado * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</small>
            <button class="btn btn-info float-right btn-sm">{{item.estado}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
