<script src="//code.jquery.com/jquery.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" routerLink="/dashboard" href="#">Alerta Social</a>
   <button (click)="gotoAlertas()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a routerLink="/card-alert" class="nav-link" href="#">Alertas <span class="sr-only">(current)</span></a>
       </li>
     </ul>
   </div>
   <a class="navbar-brand" href="#">Municipalidad San Isidro</a>
 </nav>
