  <carousel>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/alertaciudadano2019.appspot.com/o/storage_reportes%2Fincendio-5.jpg?alt=media&token=64599630-c7f5-4b1c-8649-339fefafa160" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="https://firebasestorage.googleapis.com/v0/b/alertaciudadano2019.appspot.com/o/storage_reportes%2Fescenadec-2e6dbedd6fc8362889f1383ea2b86f78112a897eca40c4390a75cb7c83b7e3cf.jpg?alt=media&token=34f7d535-e186-4672-b2f5-800a7deb86ad" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/alertaciudadano2019.appspot.com/o/storage_reportes%2Faccidente%20bus.jpg?alt=media&token=9bd331a2-51ac-4e2d-9d47-7b8615766d81" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
  </carousel>
