  <div class="wrapper">
    <form class="form-signin">       
      <!-- <h2 class="form-signin-heading">Please login</h2> -->
      <div class="image_logo">
          <img src="./assets/image-luis/logo.png"/>
      </div>
      
      <input type="text" class="form-control" name="username" placeholder="email" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>    
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      <!-- <div class="crear_cuenta">
        <p class="message">No estas registrado? <a href="/register">Crea una cuenta</a></p>
      </div> -->
    </form>
  </div>